.spinner {
	padding: 100px;
	width: 200px;
	height: 200px;
	
	display: grid;
	place-content: center;
	animation: scale 2s  infinite alternate ;
}


.circle1 {
	aspect-ratio: 1/1;
	width:150px;
	height:150px;
	display: grid;
	place-content: center;
	border-radius: 50%;
	border: 1rem solid rgb(0, 238, 255);
	box-shadow: 0px 0px 1rem 5px rgb(0, 238, 255);
	border-bottom-color: transparent;
	border-top-color: transparent;


	mix-blend-mode: normal;
	background-color: transparent;
	

animation: rotate1 2.5s  infinite alternate;


}
.circle2 {
	aspect-ratio: 1/1;
	width:120px;
	height:120px;
	display: grid;
	place-content: center;
	border-radius: 50%;
	border: 1rem solid rgba(3, 62, 255, 0);
	box-shadow: 0px 0px 1rem 5px rgb(0, 238, 255);
	
	border-left-color: transparent;
	border-right-color: transparent;
	
	mix-blend-mode: normal;

	background-color: transparent;
	

animation: rotate2 2s  infinite alternate ;



}
.circle3 {
	aspect-ratio: 1/1;
	width:90px;
	height:90px;
	display: grid;
	place-content: center;
	border-radius: 50%;
	border: 1rem solid rgb(255, 0, 221);
	box-shadow: 0px 0px 1rem 5px rgb(255, 0, 221);

	border-left-color: transparent;
	border-right-color: transparent;
	
	
	mix-blend-mode: normal;
	background-color: transparent;
	

animation: rotate1 1.5s  infinite alternate ;

}
.circle4 {
	aspect-ratio: 1/1;
	width:60px;
	height:60px;
	display: grid;
	place-content: center;
	border-radius: 50%;
	border: 1rem solid rgba(231, 4, 34, 0);
	box-shadow: 0px 0px 1rem 5px rgb(255, 0, 221);
	border-top-color: transparent;
	border-bottom-color: transparent;


	mix-blend-mode: normal;
	background-color: transparent;
	

animation: rotate2 1s  infinite alternate ;

}

.circle5 {
	aspect-ratio: 1/1;
	width:30px;
	height:30px;
	display: grid;
	place-content: center;
	border-radius: 50%;
	border: 1rem solid rgb(91, 248, 0);
	box-shadow: 0px 0px 1rem 5px rgb(91, 248, 0);
	border-bottom-color: transparent;
	border-top-color: transparent;
	
	
	mix-blend-mode: normal;
	
	

animation: rotate1 0.5s  infinite alternate ;


}


  @keyframes rotate1 {
	0% {
	  transform: rotate(0);
	 
	}
  
	100% {
	  transform: rotate(1000deg);
	  
	}
  }

   @keyframes rotate2 {
	0% {
	  transform: rotate(1000deg);
	 
	}
  
	100% {
	  transform: rotate(0);
	  
	}
  }

  @keyframes scale {
	0% {
	  
	  transform: scale(0.5)
	}
  
	100% {
	
	  transform: scale(1)
	}
  }






   @keyframes text-color {
	0% {
	  color: rgb(255, 255, 255);
	}
  
	50% {
	  color: rgba(255, 255, 255, 0.5);
	}
  
	100% {
	  color: rgba(255, 255, 255, 0.1);
	}
  }
  