/* Стили для контейнера спиннера */
.spinner {
	border: 4px solid rgba(255, 255, 255, 0.1); /* Цвет и толщина границы */
	border-top: 4px solid rgb(72, 167, 255); /* Цвет верхней границы (можно изменить на ваш выбор) */
	border-radius: 50%; /* Делает спиннер круглым */
	width: 40px; /* Ширина спиннера */
	height: 40px; /* Высота спиннера */
	animation: spin 1s ease infinite; /* Анимация вращения */
	margin: 0 auto; /* Центрирование спиннера по горизонтали в его контейнере */
  }
  
  /* Анимация вращения спиннера */
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }
  