.wrapper-class {
	padding: 1rem;
	color: #222;
	background-color: #0f172a;
	border-radius: 20px;
  }
  .editor-class {
	background-color:rgb(51 65 85);
	padding: 1rem;
	
	color: aliceblue;
	border-radius: 20px;
  }
  .toolbar-class {
	border: 1px solid #0fd319;
	background-color: rgb(255, 5, 5);
  }

  .rdw-editor-toolbar {
    background-color: rgb(209, 28, 28); /* Новый цвет панели инструментов */
    /* Дополнительные стили по вашему выбору */
}

.wrapper-class .rdw-editor-toolbar {
    background-color: transparent; 
	border: none; 
	
	/*
	 Новый цвет панели инструментов */
    /* Дополнительные стили по вашему выбору */
}


 
.wrapper-class .rdw-editor-toolbar  .rdw-option-wrapper {
	background-color: rgb(178, 225, 247);
	border: none; 
	color: rgb(211, 16, 16);
	width: 2rem;
	height: 30px;

}