
.insBodyContainer {
padding: 0 1rem;
	
}

.insBodyContainer img {
	width: 100%;
	max-width: 728px;
	height: auto;
	margin: 1rem auto;
	padding: 0.5rem;
	border-radius: 1rem;
	transition: transform 0.3s, box-shadow 0.3s;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 

  }


  .insBodyContainer img:hover {
	
	
	  }




	  .insBodyContainer h2 {
		font-size: 1.5rem;
	  }



	  .insBodyContainer ul {
		list-style-type: disc;
		padding-left: 1.5rem;
	  }



.insBodyContainer li {
	padding-left: 1.5rem;
	list-style-type: square;
}


	  .insBodyContainer a {
		text-decoration: underline;

		color: #2582ec;
		&:hover {
			text-decoration: none;
			color: #60aaff;
		}
	  }