@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
	
body {
	
	font-family: 'Poppins', sans-serif;
	 background-color: #f7f7f7; 




      
    min-height: 100vh;
	
  }



}


@layer components {





/* BLOCKS */


.iconBTW {
	@apply
	flex justify-center items-center p-1 rounded
}

.ButtonBlock {
	@apply
	p-2 m-1 block rounded  
	bg-gray-400 text-white
transition ease-in-out duration-300

}



.CardBlock {
	@apply
	p-1 m-1 rounded
	bg-white 	
	shadow hover:shadow-lg
	transition ease-in-out duration-300	
		
	
		
}


.InputBlock {
	@apply
	px-3  py-1.5
	  m-0
	  text-base
	  font-normal
	  text-gray-700
	  bg-white bg-clip-padding
	  border border-solid border-gray-300
	  rounded
	  transition ease-in-out duration-300	
	  
	  focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none;
		
}








/* BLOCKS */




.edit {
	@apply 
	 border-2 border-blue-500 bg-transparent text-blue-500 
	  hover:bg-blue-200 hover:text-blue-800
	   focus:text-blue-800 active:text-white active:bg-blue-300 
}


.success {
	@apply 
	
	border-2 border-green-500 bg-transparent text-green-500 
	hover:bg-green-200 hover:text-green-800
	 focus:text-green-800 active:text-white active:bg-green-300 



}

.cancel {
	@apply
	 
	border-2 border-red-500 bg-transparent text-red-500 
	hover:bg-red-200 hover:text-red-800
	 focus:text-red-800 active:text-white active:bg-red-300 

}


.create {
	@apply
	border-2 border-green-500 bg-green-500 text-gray-100 
	  hover:bg-green-600 hover:text-white
	   focus:text-white active:text-white active:bg-green-700  
}

.delete {
	@apply
 
	border-2 border-red-500 bg-red-500 text-gray-100 
	  hover:bg-red-600 hover:text-white
	   focus:text-white active:text-white active:bg-red-700 



}




.confirm {
	@apply
	bg-cyan-700 text-white  hover:bg-cyan-600  focus:bg-cyan-800  active:bg-cyan-800 
}




.add {
	@apply
	border-2 border-teal-500  text-teal-500 bg-transparent hover:bg-teal-200 hover:text-teal-800
}



  }






