@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
	
body {
	
	font-family: 'Poppins', sans-serif;
	 background-color: #f7f7f7; 




      
    min-height: 100vh;
	
  }



}


@layer components {







	.PageBTW {
		@apply
		w-full  flex flex-col max-h-screen
	}








/* BLOCKS */


.iconBTW {
	@apply
	flex justify-center items-center p-1 rounded
}

.ButtonBlock {
	@apply
	p-2 m-1 block rounded  
	border-2 border-gray-900
	bg-gray-100 text-gray-900
	hover:bg-white 
	active:bg-gray-900 active:text-white
	transition ease-in-out duration-300
}



.CardBlock {
	@apply
	p-1 m-1 rounded
	bg-white bg-opacity-20	
	shadow hover:shadow-lg
	transition ease-in-out duration-300		
}

.HeaderBlock {
	@apply
	w-full h-16 p-4
		flex justify-center items-center   
		 bg-gray-800  text-white
	transition ease-in-out duration-300		
}




.InputBlock {
	@apply
	px-3  py-1.5
	  m-0
	  text-base
	  font-normal
	  text-gray-700
	  bg-white bg-clip-padding
	  border border-solid border-gray-300
	  rounded
	  transition ease-in-out duration-300	
	  
	  focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none;
		
}


.ImageBlock {
	@apply

	
transition ease-in-out duration-300
		
		
}


.RowBlock {
	@apply
	flex justify-center
		
		rounded transition ease-in-out duration-300
		 hover:shadow-lg
		
}

.CellBlock {
	@apply
	flex justify-center items-center
	
	transition ease-in-out duration-300
	
}







/* COLORS */

.edit {
	@apply 
	 border-2 border-blue-500 bg-transparent text-blue-500 
	  hover:bg-blue-200 hover:text-blue-800
	   focus:text-blue-800 active:text-white active:bg-blue-300 
}

.edit-c {
	@apply 
	 border-2 border-blue-500 bg-blue-500 text-gray-100  
	  hover:bg-blue-400 active:bg-blue-600 
	  hover:text-white focus:text-white active:text-white
		hover:shadow-xl
}




.create {
	@apply 
	
	border-2 border-cyan-500 bg-transparent text-cyan-500 
	hover:bg-cyan-200 hover:text-cyan-800
	 focus:text-cyan-800 active:text-white active:bg-cyan-300 

}

.create-c {
	@apply 
	
	border-2 border-cyan-500 bg-cyan-500 text-gray-100 
	hover:bg-cyan-400 active:bg-cyan-600 
	  hover:text-white focus:text-white active:text-white
	  hover:shadow-xl
}







.cancel {
	@apply
	 
	border-2 border-red-500 bg-transparent text-red-500 
	hover:bg-red-200 hover:text-red-800
	 focus:text-red-800 active:text-white active:bg-red-300 

}

.cancel-c {
	@apply
	 
	border-2 border-gray-300 bg-gray-100 text-red-500
	hover:bg-white 
	  active:bg-gray-200 active:text-red-600
	  hover:shadow-xl
}



.success {
	@apply
	border-2 border-green-500 bg-transparent text-green-500 
	hover:bg-green-200 hover:text-green-800
	 focus:text-green-800 active:text-white active:bg-green-300 
}

.success-c {
	@apply
	border-2 border-green-500 bg-green-500 text-gray-100 
	  hover:bg-green-400 active:bg-green-600  
	  hover:text-white focus:text-white active:text-white
	 hover:shadow-xl
}





.delete {
	@apply
 
	border-2 border-red-500 bg-red-200 text-red-800 
	  hover:bg-red-600 hover:text-white
	    active:text-white active:bg-red-700 
}

.delete-c {
	@apply
 
	border-2 border-red-500 bg-red-500 text-gray-100 
	  hover:bg-red-400 active:bg-red-600  
	  hover:text-white focus:text-white active:text-white
	 hover:shadow-xl
}




.confirm {
	@apply
	border-2 border-yellow-500 bg-transparent text-yellow-500 
	hover:bg-yellow-200 hover:text-yellow-800
	 focus:text-yellow-800 active:text-white active:bg-yellow-300 
}

.confirm-c {
	@apply
 
	border-2 border-yellow-500 bg-yellow-500 text-gray-100 
	  hover:bg-yellow-400 active:bg-yellow-600  
	  hover:text-white focus:text-white active:text-white
	 hover:shadow-xl
}






.add {
	@apply
	border-2 border-fuchsia-500 bg-transparent text-fuchsia-500 
	hover:bg-fuchsia-200 hover:text-fuchsia-800
	 focus:text-fuchsia-800 active:text-white active:bg-fuchsia-300 
}

.add-c {
	@apply
 
	border-2 border-fuchsia-500 bg-fuchsia-500 text-gray-100 
	  hover:bg-fuchsia-400 active:bg-fuchsia-600  
	  hover:text-white focus:text-white active:text-white
	 hover:shadow-xl
}

.search {
	@apply
	border-2 border-teal-500 bg-transparent text-teal-500 
	hover:bg-teal-200 hover:text-teal-800
	 focus:text-teal-800 active:text-white active:bg-teal-300 
}

.search-c {
	@apply
 
	border-2 border-teal-500 bg-teal-500 text-gray-100 
	  hover:bg-teal-400 active:bg-teal-600  
	  hover:text-white focus:text-white active:text-white
	 hover:shadow-xl
}






  }






