@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
	
body {
	
	font-family: 'Poppins', sans-serif;
	background-color: rgb(15 23 42);
color: aliceblue;
    min-height: 100vh;


  }
  

  body::before {
	content: "";
	background-size: cover;
	filter: blur(5px); 
	position: fixed; /* Фиксированная позиция, чтобы размытое изображение было под фоном */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1; /* Поместите псевдоэлемент под контентом */
	opacity: 0.3; /* Установите желаемую прозрачность фонового изображения */
  }

  


/* Стили для таблицы */
table {
	border-collapse: collapse;
	width: 100%;

	
  }
  
  /* Стили для заголовка таблицы */
  th, td {
	padding: 8px;
	text-align: center;
  }
  
  th {
	
	font-weight: bold;
  }

  



input[type="file" i] {
	background: transparent;
}



ol {
	list-style-type: decimal;
	list-style-position: inside;
	padding-left: 1rem;
}


h2 {
	text-align: center;
}








}

::-webkit-scrollbar {
	width: 4px; /* Width of the scrollbar */
	height: 8px;
  }
  
  ::-webkit-scrollbar-thumb {
	

	border: 2px solid rgba(72, 167, 255, 0.397);
	border-radius: 8px; /* Roundness of the scrollbar thumb */
	
  }


  
  ::-webkit-scrollbar-track {
	background-color: #00153dbd; /* Color of the scrollbar track */
	border-radius: 8px; /* Roundness of the scrollbar track */
  }





@layer components {







	.PageBTW {
		@apply
		w-full  flex flex-col max-h-screen min-h-screen   space-y-4 py-5  flex-grow overflow-auto  relative 
	}




/* BLOCKS */


.iconBTW {
	@apply
	flex justify-center items-center p-1 rounded
}

.ButtonBlock {
	@apply
	flex justify-center items-center
	p-2 rounded-xl 
	border border-gray-700 
	 text-gray-700
	hover:bg-white 
	active:bg-gray-200 
	  active:shadow-white
	transition ease-in-out duration-100
}



.CardBlock {
	@apply
	
	 rounded
	 
	transition ease-in-out duration-300		
}

.HeaderBlock {
	@apply
	flex justify-center
	w-full p-4
	text-3xl
	rounded-xl
	
 text-white
	transition ease-in-out duration-300		
}




.InputBlock {
	@apply
	  p-1.5
	  font-bold
	  text-center
	  text-sky-100
	  bg-slate-900 bg-opacity-20
	  italic

	  border-2 border-solid border-slate-600/50 focus:border-slate-500
	  rounded-2xl
	  transition ease-in-out duration-300
	   focus:bg-opacity-40	
	   focus:outline-none
	  placeholder:text-gray-400
	  ;
	  
		
}


.ImageBlock {
	@apply
flex justify-center items-center
	
transition ease-in-out duration-300
		
		
}


.RowBlock {
	@apply
	flex justify-center
		
		rounded 
		transition ease-in-out duration-300
	
		
}

.TextBlock {
	@apply
	flex justify-center items-center
		transition ease-in-out duration-300
		
		
}





.CellBlock {
	@apply
	flex justify-center items-center
	
	transition ease-in-out duration-300
	
}

.ListBlock {
	@apply
	flex justify-center items-center
	p-1
	transition ease-in-out duration-300
	
}
.disabled {
	@apply
	border-none
	
	hover:bg-transparent
	active:bg-transparent
	shadow-none
	text-gray-400
}





/* Buttons colors */

.slate-b {
	@apply
 
	border-none
	bg-transparent  hover:bg-slate-400 active:bg-slate-600  
	text-white
	 shadow-slate-500 hover:shadow-sm hover:shadow-slate-500
	text-slate-300 hover:text-white
}

.slate-b-n {
	@apply
	border-none
	  bg-slate-400/80 hover:bg-slate-400 active:bg-slate-600
	  text-white
	  shadow-sm shadow-slate-500 hover:shadow-lg hover:shadow-slate-500;
  }
  


.gray-b {
	@apply
 
	border-none
	bg-transparent  hover:bg-gray-500 active:bg-gray-600  
	text-white 
	 shadow-gray-500 hover:shadow-sm hover:shadow-gray-500
	text-gray-300 hover:text-white
}

.gray-b-n {
	@apply
	border-none
	  bg-gray-500/80 hover:bg-gray-500 active:bg-gray-600
	  text-white
	  shadow-sm shadow-gray-500 hover:shadow-lg hover:shadow-gray-500;
  }
  

.zinc-b {
	@apply
 
	border-none
	bg-transparent  hover:bg-zinc-500 active:bg-zinc-600  
	  text-white
	 shadow-zinc-500 hover:shadow-sm hover:shadow-zinc-500
	  text-zinc-300 hover:text-white
}

.zinc-b-n {
	@apply
	border-none
	  bg-zinc-500/80 hover:bg-zinc-500 active:bg-zinc-600
	  text-white
	  shadow-sm shadow-zinc-500 hover:shadow-lg hover:shadow-zinc-500;
  }
  

.neutral-b {
	@apply
	border-none
 
	bg-transparent  hover:bg-neutral-500 active:bg-neutral-600  
	  text-white
	 shadow-neutral-500 hover:shadow-sm hover:shadow-neutral-500
	  text-neutral-300 hover:text-white
}

.neutral-b-n {
	@apply
	border-none
	  bg-neutral-500/80 hover:bg-neutral-500 active:bg-neutral-600
	  text-white
	  shadow-sm shadow-neutral-500 hover:shadow-lg hover:shadow-neutral-500
	  

  }
  


.stone-b {
	@apply
 
	border-none
	bg-transparent  hover:bg-stone-500 active:bg-stone-600  
	text-white
 shadow-stone-500 hover:shadow-sm hover:shadow-stone-500
	text-stone-300 hover:text-white
}

.stone-b-n {
	@apply
	border-none
	  bg-stone-500/80 hover:bg-stone-500 active:bg-stone-600
	  text-white
	  shadow-sm shadow-stone-500 hover:shadow-lg hover:shadow-stone-500;
  }
  


.red-b {
	@apply
	border-none
	bg-transparent  hover:bg-red-500 active:bg-red-600  
	  text-white 
	 shadow-red-500 hover:shadow-sm hover:shadow-red-500
	 text-red-300 hover:text-white 
}

.red-b-n {
	@apply
	border-none
	  bg-red-500/80 hover:bg-red-500 active:bg-red-600
	  text-white
	  shadow-sm shadow-red-500 hover:shadow-lg hover:shadow-red-500;
  }


.orange-b {
	@apply
 
	border-none
	bg-transparent  hover:bg-orange-500 active:bg-orange-600  
	text-white
 shadow-orange-500 hover:shadow-sm hover:shadow-orange-500
	text-orange-300 hover:text-white 
}

.orange-b-n {
	@apply
	border-none
	  bg-orange-500/80 hover:bg-orange-500 active:bg-orange-600
	  text-white
	  shadow-sm shadow-orange-500 hover:shadow-lg hover:shadow-orange-500;
  }
  



.amber-b {
	@apply
	border-none
	bg-transparent  hover:bg-amber-500 active:bg-amber-600  
	text-white 
 shadow-amber-500 hover:shadow-sm hover:shadow-amber-500
	text-amber-300 hover:text-white
}

.amber-b-n {
	@apply
	border-none
	  bg-amber-500/80 hover:bg-amber-500 active:bg-amber-600
	  text-white
	  shadow-sm shadow-amber-500 hover:shadow-lg hover:shadow-amber-500;
  }
  



.yellow-b {
	@apply
 
	border-none
	bg-transparent  hover:bg-yellow-500 active:bg-yellow-600  
	text-white
	 shadow-yellow-500 hover:shadow-sm hover:shadow-yellow-500
	text-yellow-300 hover:text-white
}

.yellow-b-n {
	@apply
	border-none
	  bg-yellow-500/80 hover:bg-yellow-500 active:bg-yellow-600
	  text-white
	  shadow-sm shadow-yellow-500 hover:shadow-lg hover:shadow-yellow-500;
  }
  



.lime-b {
	@apply
 
	border-none
	bg-transparent  hover:bg-lime-500 active:bg-lime-600  
	  text-white 
 shadow-lime-500 hover:shadow-sm hover:shadow-lime-500
	  text-lime-300 hover:text-white
}

.lime-b-n {
	@apply
	border-none
	  bg-lime-500/80 hover:bg-lime-500 active:bg-lime-600
	  text-white
	  shadow-sm shadow-lime-500 hover:shadow-lg hover:shadow-lime-500;
  }
  



.green-b {
	@apply
 
	border-none
	bg-transparent  hover:bg-green-500 active:bg-green-600  
	  text-white 
	 shadow-green-500 hover:shadow-sm hover:shadow-green-500
	  text-green-300 hover:text-white
}


.green-b-n {
	@apply
	border-none
	  bg-green-500/80 hover:bg-green-500 active:bg-green-600
	  text-white
	  shadow-sm shadow-green-500 hover:shadow-lg hover:shadow-green-500;
  }
  

.emerald-b {
	@apply
	border-none

	bg-transparent  hover:bg-emerald-500 active:bg-emerald-600  
	text-white 
	 shadow-emerald-500 hover:shadow-sm hover:shadow-emerald-500 
	  text-emerald-300 hover:text-white
}


.emerald-b-n {
	@apply
 
	border-none
	bg-emerald-500/80  hover:bg-emerald-500 active:bg-emerald-600  
	text-white 
	  shadow-sm shadow-emerald-500 hover:shadow-lg hover:shadow-emerald-500 
}






.teal-b {
	@apply
 
	border-none
	bg-transparent  hover:bg-teal-500 active:bg-teal-600  
	text-white focus:text-white 
	 shadow-teal-500 hover:shadow-sm hover:shadow-teal-500 
	text-teal-300 hover:text-white
}

.teal-b-n {
	@apply
	border-none
	  bg-teal-500/80 hover:bg-teal-500 active:bg-teal-600
	  text-white focus:text-white
	  shadow-sm shadow-teal-500 hover:shadow-lg hover:shadow-teal-500;
  }
  


.cyan-b {
	@apply
	border-none
	bg-transparent  hover:bg-cyan-500 active:bg-cyan-600  
	text-white 
 shadow-cyan-500 hover:shadow-sm hover:shadow-cyan-500 
	text-cyan-300 hover:text-white
	  
	 
}


.cyan-b-n {
	@apply
	border-none
	  bg-cyan-500/80 hover:bg-cyan-500 active:bg-cyan-600
	  text-white
	  shadow-sm shadow-cyan-500 hover:shadow-lg hover:shadow-cyan-500;
  }
  



.sky-b {
	@apply
	border-none
 
	bg-transparent  hover:bg-sky-500 active:bg-sky-600  
	  text-white 
	  shadow-sky-500 hover:shadow-sm hover:shadow-sky-500 
	  text-sky-300 hover:text-white
	 
}

.sky-b-n {
	@apply
	border-none
	  bg-sky-500/80 hover:bg-sky-500 active:bg-sky-600
	  text-white
	  shadow-sm shadow-sky-500 hover:shadow-lg hover:shadow-sky-500;
  }
  


.blue-b {
	@apply
	border-none
	bg-transparent  hover:bg-blue-500 active:bg-blue-600  
	  text-white
	 shadow-blue-500 hover:shadow-sm hover:shadow-blue-500 
	 text-blue-300 hover:text-white
	 
}


.blue-b-n {
	@apply
	border-none
	  bg-blue-500/80 hover:bg-blue-500 active:bg-blue-600
	  text-white
	  shadow-sm shadow-blue-500 hover:shadow-lg hover:shadow-blue-500;
  }
  


.indigo-b {
	@apply
	border-none
	bg-transparent  hover:bg-indigo-500 active:bg-indigo-600  
	  text-white 
	  shadow-indigo-500 hover:shadow-sm hover:shadow-indigo-500 
	  text-indigo-300 hover:text-white
	 
}



.indigo-b-n {
	@apply
	border-none
	  bg-indigo-500/80 hover:bg-indigo-500 active:bg-indigo-600
	  text-white
	  shadow-sm shadow-indigo-500 hover:shadow-lg hover:shadow-indigo-500;
  }
  

.violet-b {
	@apply
	border-none
	bg-transparent  hover:bg-violet-500 active:bg-violet-600  
	text-white
 shadow-violet-500 hover:shadow-sm hover:shadow-violet-500 
	 text-violet-300 hover:text-white
	 
}


.violet-b-n {
	@apply
	border-none
	  bg-violet-500/80 hover:bg-violet-500 active:bg-violet-600
	  text-white
	  shadow-sm shadow-violet-500 hover:shadow-lg hover:shadow-violet-500;

  }
  

.purple-b {
	@apply
	border-none
	bg-transparent  hover:bg-purple-500 active:bg-purple-600  
	 text-white 
	  shadow-purple-500 hover:shadow-sm hover:shadow-purple-500 
	 text-purple-300 hover:text-white
	 
}


.purple-b-n {
	@apply
	border-none
	  bg-purple-500/80 hover:bg-purple-500 active:bg-purple-600
	  text-white
	  shadow-sm shadow-purple-500 hover:shadow-lg hover:shadow-purple-500;
  }
  

.fuchsia-b {
	@apply
	border-none
	bg-transparent  hover:bg-fuchsia-500 active:bg-fuchsia-600  
	  text-white
	  shadow-fuchsia-500 hover:shadow-sm hover:shadow-fuchsia-500 
	  text-fuchsia-300 hover:text-white
	 
}


.fuchsia-b-n {
	@apply
	border-none
	  bg-fuchsia-500/80 hover:bg-fuchsia-500 active:bg-fuchsia-600
	  text-white
	  shadow-sm shadow-fuchsia-500 hover:shadow-lg hover:shadow-fuchsia-500;
  }
  

.pink-b {
	@apply
 border-none
	bg-transparent  hover:bg-pink-500 active:bg-pink-600  
	  text-white
	   shadow-pink-500 hover:shadow-sm hover:shadow-pink-500 
	  text-pink-300 hover:text-white
	 
}


.pink-b-n {
	@apply
	border-none
	  bg-pink-500/80 hover:bg-pink-500 active:bg-pink-600
	  text-white
	  shadow-sm shadow-pink-500 hover:shadow-lg hover:shadow-pink-500;
  }
  

.rose-b {
	@apply
	border-none
	bg-transparent  hover:bg-rose-500 active:bg-rose-600  
	  text-white 
	  shadow-rose-500 hover:shadow-sm hover:shadow-rose-500 
	  text-rose-300 hover:text-white
	 
}


.rose-b-n {
	@apply
	border-none
	  bg-rose-500/80 hover:bg-rose-500 active:bg-rose-600
	  text-white
	 shadow-rose-500 hover:shadow-lg hover:shadow-rose-500;
  }
  


  }






